fastapi==0.115.0
uvicorn[standard]==0.30.6
streamlit==1.38.0
pandas==2.0.3
python-multipart==0.0.9
requests==2.32.3
psycopg2-binary==2.9.9
gseapy==1.0.6
Pillow==10.4.0
pvactools==7.1.2
tf-keras==2.16.0

